[Unit]
Description=A real-time multiplayer space shooter
After=network.target

[Service]
PIDFile=/run/hyperspace.pid
User=erjohnso
WorkingDirectory=/srv/hyperspace
ExecStart=/srv/hyperspace/server/server

[Install]
WantedBy=multi-user.target
